<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inputs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../assets/img/favicon.png"
    />

    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/layout.css" />
    <link rel="stylesheet" href="../assets/css/inputs.css" />
  </head>
  <body>
    <header class="page-header">
      <a href="../index.html" class="page-header-back page-header-end">
        <span class="uil uil-arrow-left"></span>
        <span> Back </span>
      </a>
      <h2 class="page-header-title">Inputs</h2>
      <span class="page-header-end"></span>
    </header>
    <div class="container">
      <!-- Section for text input with focus state - start -->
      <section class="block-list">
        <article class="block focus-input-text">
          <div class="block-inner">
            <h2 class="block-title">
              Text input with <span> focus </span>State
            </h2>
            <div class="block-component">
              <button class="input-focus">
                <input
                  type="text"
                  class="input-focus--text"
                  placeholder="Username"
                />
                <span class="input-focus--icon uil uil-user"></span>
              </button>
            </div>
          </div>
        </article>
      </section>
      <!-- Section for text input with focus state - end -->
    </div>
  </body>
</html>
