<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../assets/img/favicon.png"
    />

    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/layout.css" />
    <link rel="stylesheet" href="../assets/css/buttons.css" />
  </head>
  <body>
    <header class="page-header">
      <a href="/components" class="page-header-back page-header-end">
        <span class="uil uil-arrow-left"></span>
        <span> Back </span>
      </a>
      <h2 class="page-header-title">Buttons</h2>
      <span class="page-header-end"></span>
    </header>
    <div class="container">
      <!-- Section for button with copy icon - start -->
      <section class="block-list">
        <article class="block copy-icon-button">
          <div class="block-inner">
            <h2 class="block-title">Button with <span> icon </span></h2>
            <div class="block-component">
              <button class="button-copy">
                <span class="button-copy--icon uil uil-copy"></span>
                <span class="button-copy--text">Copy</span>
              </button>
            </div>
          </div>
        </article>
      </section>
      <!-- Section for button with copy icon - end -->

      <!-- Section for button with hover effect - start -->
      <section class="block-list">
        <article class="block settings-icon-button">
          <div class="block-inner">
            <h2 class="block-title">Button with <span>hover</span> effect</h2>
            <div class="block-component">
              <button class="button-settings">
                <span class="button-settings--icon uil uil-setting"></span>
                <span class="button-settings--text">Settings</span>
              </button>
            </div>
          </div>
        </article>
      </section>
      <!-- Section for button with hover effect - end -->

      <!-- Section for button with focus effect - start -->
      <section class="block-list">
        <article class="block play-icon-button">
          <div class="block-inner">
            <h2 class="block-title">Button with <span>focus</span> effect</h2>
            <div class="block-component">
              <button class="button-play">
                <span class="button-play--icon uil uil-play"></span>
                <span class="button-play--text">Play Song</span>
              </button>
            </div>
          </div>
        </article>
      </section>
      <!-- Section for button with focus effect - end -->
    </div>
  </body>
</html>
