/* Section - Button with copy icon */
.block.copy-icon-button {
  background-color: #222227;
}

.button-copy {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #1867c0;
  padding: 1rem 2rem;
  border-radius: 2px;
  color: white;
}
.button-copy--icon {
  font-size: 1.5rem;
}
.button-copy--text {
  font-size: 1rem;
}

/* Section - Settings Button with icon */
.block.settings-icon-button {
  background-color: #f7f7fe;
}

.block.settings-icon-button .block-title {
  color: #4c4954;
}
.block.settings-icon-button .block-title span {
  border-bottom: 3px solid #7cb342;
}

.button-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0 1.5rem 0 1.5rem;
  border: 0.5rem;
  background: #8bc34a;
  color: white;
  transition: background 0.35s;
}
.button-settings:hover {
  background: #7cb342;
}
.button-settings--icon {
  font-size: 1.25rem;
}
.button-settings--text {
  font-size: 1rem;
}
